.container{
    display:grid;
    
    grid-template: columns: repeat(2, 1fr);
    grid-template-rows: 75px 65px 400px;
    margin: 2rem auto;
    max-width: 1500px;
    width: 90%;
}

header {
    grid-column: 1 / span 2;
    display: flex;
    padding-top: 15px;
    padding-left:50px;
    font-size: small;
    background-color: pink;
}
a {
    color: white;
    text-decoration:none;
    padding-right:10px;
}
      
nav    {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-color: darkred;
    display:flex;
    justify-content:space-between;
    padding-left: 10px;
    
    
    <nav="w3-bar w3-black"> <a href="#" class="w3-bar-item w3-button">Home</a> <a href="#" class="w3-bar-item w3-button">Link 1</a> <a href="#" class="w3-bar-item w3-button">Link 2</a> <a href="#" class="w3-bar-item w3-button">Link 3</a> </div>
}
ul     {
    list-style-type: none;
    
}

main {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-image: url('images/image4.jpg');
    background-size: cover;
    
}
#video{
    margin-right:30px;
}




